<div class="home-protfolio d-flex justify-content-center align-items-center">
    <div class="protfolio-center w-100 d-flex flex-column gap-5">
        <!-- <div class="protfolio">

        </div> -->

        <div class="about d-flex flex-column gap-3 mb-5">
            <div class="introduce">
                <h2>I'm a Software Engineer.</h2>
                <p>Currently, I'm a Software Engineer at
                    <span class="facebook">
                        <img src="assets/image/hg-favicon-1.png" alt="Hg media" width="14px" />
                        HG MEDIA,
                    </span>
                </p>
            </div>

            <div class="introduce-text">
                I am currently a Frontend Developer with 2 years of experience in web interface development. After learning about the Frontend Developer position at your company, I found the role to be a great fit for my career orientation and skill set. I have hands-on
                experience with Angular, HTML/CSS/JavaScript, and have worked with tools such as Jira, Git, and Figma. I have participated in several projects, taking responsibility for building user interfaces, integrating APIs, and collaborating in
                teams following the Agile methodology. With a solid technical foundation, a strong sense of responsibility, and the ability to work independently, I believe I can make a meaningful contribution to your company.
            </div>
        </div>

        <div class="work-experience-section">
            <div class="circle-background"></div>

            <div class="experience">
                <h4>Work Experience</h4>
                <div class="card-experience d-flex align-items-center gap-3 flex-wrap mt-4">
                    <div class="card">
                        <div class="d-flex align-items-center justify-content-between gap-3">
                            <div class="card-icon">
                                <img src="assets/image/viettel.jpg" alt width="110px" />
                            </div>
                            <div class="card-text">
                                <div>
                                    <h6 class="text-medium">Viettel Software</h6>
                                    <p class="text-regular">
                                        Take your client onboard seamlessly by our amazing tool of digital onboard process.
                                    </p>
                                </div>
                                <button class="rounded-2 text-medium p-2 btn-led-company">LEARN MORE</button>
                            </div>
                        </div>
                    </div>

                    <div class="card d-flex">
                        <div class="d-flex align-items-center justify-content-between gap-3">
                            <div class="card-icon">
                                <img src="assets/image/lifesup.jpg" alt width="110px" />
                            </div>
                            <div class="card-text">
                                <div>
                                    <h6 class="text-medium">LIFESUP Software</h6>
                                    <p>
                                        Take your client onboard seamlessly by our amazing tool of digital onboard process.
                                    </p>
                                </div>
                                <button class="rounded-2 text-medium p-2 btn-led-company">
                  LEARN MORE
                </button>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="d-flex align-items-center justify-content-between gap-3">
                            <div class="card-icon">
                                <img src="assets/image/logoHG_final-04.png" alt width="110px" />
                            </div>
                            <div class="card-text">
                                <div>
                                    <h6 class="text-medium">HG MEDIA</h6>
                                    <p>
                                        Take your client onboard seamlessly by our amazing tool of digital onboard process.
                                    </p>
                                </div>
                                <button class="rounded-2 text-medium p-2 btn-led-company">LEARN MORE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="work-experience-skill">
            <div class="text-work d-flex justify-content-center align-items-center">
                I'm currently looking to join a cross-functional team that values improving people's lives through accessible design
            </div>
            <div class="skill"></div>
        </section>

        <section class="card-project d-flex flex-column">
            <div class="project">
                <div class="project-thumbli p-3 rounded-3 ms-auto">
                    <div class="circle-project" style="left: 80%;"></div>
                    <img src="assets/image/example-project.png" alt="" style="transform: translate(14px, 14px);">
                </div>
                <div class="featured start-0">
                    <p class="m-0 bold-text size-regular">Featured Project</p>
                    <h5 class="m-0 bold-text">Example Project</h5>
                    <div class="project-card p-3 rounded-2 mt-4">
                        A web app for visualizing personalized Spotify data. View your top artists, top tracks, recently played tracks, and detailed audio information about each track. Create and save new playlists of recommended tracks based on your existing playlists and more.
                    </div>
                </div>
            </div>

            <div class="project reverse">
                <div class="featured end-0">
                    <p class="m-0 bold-text size-regular text-end">Featured Project</p>
                    <h5 class="m-0 bold-text text-end">Example Project</h5>
                    <div class="project-card p-3 rounded-2 mt-4">
                        A web app for visualizing personalized Spotify data. View your top artists, top tracks, recently played tracks, and detailed audio information about each track. Create and save new playlists of recommended tracks based on your existing playlists and more.
                    </div>
                </div>
                <div class="project-thumbli p-3 rounded-3 me-auto">
                    <div class="circle-project" style="left: 18%;"></div>
                    <img src="assets/image/example-project.png" alt="" style="transform: translate(-14px, 14px);">
                </div>
            </div>

            <div class="project">
                <div class="project-thumbli p-3 rounded-3 ms-auto">
                    <div class="circle-project" style="left: 80%;"></div>
                    <img src="assets/image/example-project.png" alt="" style="transform: translate(14px, 14px);">
                </div>
                <div class="featured start-0">
                    <p class="m-0 bold-text size-regular">Featured Project</p>
                    <h5 class="m-0 bold-text">Example Project</h5>
                    <div class="project-card p-3 rounded-2 mt-4">
                        A web app for visualizing personalized Spotify data. View your top artists, top tracks, recently played tracks, and detailed audio information about each track. Create and save new playlists of recommended tracks based on your existing playlists and more.
                    </div>
                </div>
            </div>

            <div class="project reverse">
                <div class="featured end-0">
                    <p class="m-0 bold-text size-regular text-end">Featured Project</p>
                    <h5 class="m-0 bold-text text-end">Example Project</h5>
                    <div class="project-card p-3 rounded-2 mt-4">
                        A web app for visualizing personalized Spotify data. View your top artists, top tracks, recently played tracks, and detailed audio information about each track. Create and save new playlists of recommended tracks based on your existing playlists and more.
                    </div>
                </div>
                <div class="project-thumbli p-3 rounded-3 me-auto">
                    <div class="circle-project" style="left: 18%;"></div>
                    <img src="assets/image/example-project.png" alt="" style="transform: translate(-14px, 14px);">
                </div>
            </div>
        </section>

        <div class="contact d-flex flex-column gap-4 mt-5">
            <h4>Contact</h4>

            <div class="my-self">
                <p>
                    Continuously striving to improve technical expertise and professional skills to develop optimized, user-friendly products. Aspiring to participate in large-scale projects and gradually advance to the position of Senior Frontend Developer, aiming to enhance
                    product quality and contribute effectively to the team.
                </p>

                <p>dongvancong&#64;gmail.com</p>

                <p>+84 334 624 356</p>
            </div>

            <a href="assets/styles/FrontEnd-Dong-Van-Cong.pdf" download="CV-Dong-Van-Cong.pdf" class="btn-led rounded-2 text-medium bold-text text-decoration-none d-inline-block text-center">DOWNLOAD CV</a>

            <div class="icon d-flex align-items-center gap-4 cur-pointer">
                <a href="https://www.facebook.com/dgvan.cong" target="_blank">
                    <img src="assets/image/Facebook.png" alt="Facebook" />
                </a>

                <a href="https://github.com/dgvancong" target="_blank">
                    <img src="assets/image/github.jpg" alt="GitHub" />
                </a>

                <a href="mailto:dongvancong24-email@gmail.com?subject=Ứng tuyển Frontend&body=Chào anh/chị, em xin ứng tuyển vào vị trí...">
                    <img src="assets/image/Gmail_icon.png" alt="Gmail" />
                </a>

                <a href="https://t.me/+84334624356" target="_blank">
                    <img src="assets/image/Telegram.png" alt="Telegram" />
                </a>
            </div>
        </div>

    </div>
</div>
