@import "bootstrap/scss/bootstrap";
@import "./assets/styles/color.scss";
@import "./assets/styles/common.scss";
@import "./assets/styles/text.scss";

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: 'Sarabun', sans-serif;
  background-color: $colorBackground;
  color: $colorTextWhite;
  font-weight: inherit;
  font-style: inherit;
  letter-spacing: normal;
  font-size: 16px;
}

@keyframes led-move {
  0%   { background-position: 0% 0%; }
  50%  { background-position: 100% 100%; }
  100% { background-position: 0% 0%; }
}
