@import "bootstrap/scss/bootstrap";
@import "./assets/styles/color.scss";
@import "./assets/styles/common.scss";
@import "./assets/styles/text.scss";

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: 'Preahvihear', sans-serif;
  background-color: $colorBackground;
  color: $colorTextWhite;
}
